

<h2>Create Skill</h2>

<div class="container">
    <form id="CreateForm">
        <div class="form-group">
            <label>SkillName</label>
            <input name="SkillName" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label> level</label>
            <input name="level" class="form-control" />
            <br />
        </div>
        <button type="button" id="SaveButton">Save</button>
        <a href="@Url.Action("Create","Summeries")" class="btn btn-default">Next</a>

    </form>


</div>
<script>
    $("#SaveButton").click(function () {

        $.ajax({
            url: "@Url.Action("Create","Skills")",
            type: "post",
            data: $("#CreateForm").serialize()
        }).done(function (response) {
            $("#ListArea").html(response);
           $("#formModal").modal("toggle");
        });
    });
</script>







