

<h2>Create CV</h2>

<form id="CreateForm" method="post">
    <div>
        <div class="form-row">
            <div class="col-lg-6 col-md-6">
                <label class="form-group">FirstName</label>
                <input class="form-control" name="FirstName" placeholder="First Name" />
                <br />
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="form-group"> LastName</label>
                <input class="form-control" name="LastName" placeholder="Last Name" />
                <br />
            </div>
        </div>

        <label class="form-group">Address</label>
        <input class="form-control" name="Address" />
        <br />

        <label class="form-group">City</label>
        <input class="form-control" name="City" />
        <br />

        <label class="form-group">ZipCode</label>
        <input class="form-control" name="ZipCode" />
        <br />

        <label class="form-group">Country</label>
        <input class="form-control" name="Country" />
        <br />

        <label class="form-group">Email</label>
        <input class="form-control" name="Email" />
        <br />

        <label class="form-group">PhoneNumber</label>
        <input class="form-control" name="PhoneNumber" />
        <br />
        <button class="btn btn-success" type="submit" id="SaveButton">Save</button>

        @*<a id="SaveButton" href="@Url.Action("Create","Experiences")" class="btn btn-default">Next</a>*@
    </div>


</form>




@*<script>
    $("#SaveButton").click(function () {
        debugger;
        $.ajax({
            url: "@Url.Action("Create","CVs")",
            type: "post",
            data: $("#CreateForm").serialize()
        }).done(function (response) {
           $("#ListArea").html(response);
        });
    });
</script>*@




