

<h2>Create Education</h2>

<div class="container">
    <form id="CreateForm" method="post">
        <input type="hidden" name="PersonalInfo_ID" value="@Model.PersonalInfo_ID" />
        <div class="form-group">
            <label>SchoolName</label>
            <input name="SchoolName" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label>City</label>
            <input name="City" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label>State</label>
            <input name="State" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label>Degree</label>
            <input name="Degree" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label>FielOfStudy</label>
            <input name="FielOfStudy" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <label>GraduationDate</label>
            <input name="GraduationDate" class="form-control" />
            <br />
        </div>
        <button type="submit" id="SaveButton">Save</button>

        <a href="@Url.Action("Create","Skills")" class="btn btn-default">Next</a>
    </form>


</div>
@*<script>
    $("#SaveButton").click(function () {

        $.ajax({
            url: "@Url.Action("Create","Educations")",
            type: "post",
            data: $("#CreateForm").serialize()
        }).done(function (response) {
            $("#ListArea").html(response);
           $("#formModal").modal("toggle");
        });
    });
</script>*@






